services:
  ollama:
    volumes:
      - ollama:/root/.ollama
    container_name: ollama
    tty: true
    restart: unless-stopped
    image: ghcr.io/amperecomputingai/ollama-ampere:1.0.0-ol9
    ports:
      - 11434:11434

  open-webui:
    image: ghcr.io/open-webui/open-webui:v0.6.34
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
      - ./functions:/app/backend/data/functions
    depends_on:
      - ollama
      - postgres
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - 'ENV=dev'
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
      - 'WEBUI_AUTH=False'
      - 'FUNCTIONS_PATH=/app/backend/data/functions'
    env_file:
        - .env
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

  postgres:
    image: ghcr.io/amperecomputingai/ampere-ai-text2sql:pg_dvdrental_0.1
    container_name: pg_dvdrental
    restart: always
    ports:
      - "5436:5432" # host_port:container_port
    environment:
      POSTGRES_DB: dvdrental
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: dvdrental

volumes:
  ollama: {}
  open-webui: {}
